* {
  font-family: Avenir, sans-serif;
  box-sizing: content-box;
  word-break: normal;
}

body {
  background-color: black;
}

#container {
  display: flex;
  flex-direction: column;
  border: rgb(110, 110, 110) solid;
  border-radius: 17px;
  background-color: rgb(110, 110, 110);
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none; /* enlever les point de la liste */
  cursor: pointer;
}

ul li {
  /* eloigner les deux icones */
  display: inline;
  padding: 15px 20px 15px 20px;
  margin: 0;
}

.interets li {
  margin-left: 20px;
  float: left;
  list-style: none;
}

small {
  color: rgb(189, 147, 147);
}

.qrCode {
  object-fit: cover;
  text-align: center;
  margin-top: 50px;
}

/* Informations personnelles */

#infos {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(-20deg, #123c58 0%, #276d838c 100%);
  flex: 1;
  padding: 85px;
  border: rgb(73, 73, 73) solid;
  border-radius: 15px;
}

#infos h1 {
  text-shadow: 2px 3px 2px rgba(255, 255, 255, 0.3);
}

h2 {
  background-color: #e4e4e1;
  background-image: linear-gradient(-20deg, #102e42 0%, #4e82928c 100%);
  background-blend-mode: normal, multiply;
  color: white;
  border-radius: 8px;
  text-align: center;
  margin-top: 40px;
}

.title,
.nom {
  text-align: center;
}

.title {
  margin-top: 80px;
  color: rgb(252, 248, 244);
}

/* Expériences professionnelles */

#formations {
  width: 50vw;
  color: rgb(73, 73, 73);
  background-color: rgb(223, 221, 224);
  flex: 3;
  padding: 85px;
  border: rgb(73, 73, 73) solid;
  border-radius: 15px;
  text-align: justify;
  word-wrap: break-word; /* retour à la ligne auto*/
}

.certi {
  color: rgb(122, 122, 121);
}

.stagedetail {
  text-transform: 10px;
  font-size: small;
}

footer {
  color: white;
  text-align: center;
  font-family: monospace;
}
@media screen and (min-width: 800px) {
  #container {
    flex-direction: row;
  }
}
