*{
    font-family: Avenir, sans-serif;
    box-sizing: content-box;
    word-break: normal;
 
}

body{
    background-color: black;
}

#container {
    display: flex;
    flex-direction: column;
    border:rgb(110, 110, 110) solid;
    border-radius: 15px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: rgb(110, 110, 110)
     
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
ul {
    display: flex;
    flex-direction: row;     
    list-style-type: none;  /* enlever les point de la liste */
    cursor: pointer;
     
}
 
ul li{                  /* eloigner les deux icones */
    display:inline;
    padding: 15px 20px 15px 20px;;
    margin:0;
    
}

.interets li{
    margin-left: 20px;
    float:left;
    list-style: none;
}

/* Informations personnelles */

#infos {
    color: rgb(255, 255, 255);
    background-color: rgb(141, 164, 173);
    flex: 1;
    padding: 15px 30px 15px 30px;
    border:rgb(73, 73, 73) solid;
    border-radius: 15px;
}

#infos h1{
        text-shadow: 2px 4px 3px rgba(255, 255, 255, 0.3);
}

h2{  
    padding-top: 35px;
    background: linear-gradient(to right, #63a19c, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     
}


.title, .nom{ 
    text-align: center;
}


.objectif{
    text-align: justify;
}

/* Expériences professionnelles */

#formations {
    color: rgb(73, 73, 73);
    background-color: rgb(223, 221, 224);
    flex: 3;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 15px;
    border:rgb(73, 73, 73) solid;
    border-radius: 15px;
    
}

.title {
    margin-top: 50px;
    color: rgb(252, 248, 244);
}
 

.certi{
  color: rgb(122, 122, 121);
}


.ecole{
    text-decoration: underline;
    text-decoration-color : rgb(46, 53, 54);
    text-transform: uppercase;
}



@media screen and (min-width: 800px) {
    #container {
        flex-direction: row;
    }

}